 body, html {
    margin: 0;
    height: 100%; 
    background: linear-gradient(to bottom right, #6a11cb, #2575fc);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    animation: fadeInUp 2s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite, color-change 3s linear infinite;
}

@keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(90deg);
        }
        50% {
            transform: rotate(360deg)
        }
        75% {
            transform: rotate(540deg); 
        }
        100% {
            transform: rotate(720deg); 
        }
}
@keyframes color-change {
    0% {
        border-top-color: #0066ff;
    }
    100% {
        border-top-color: #66ccff;
    }
}
.LookAround h1 {
    font-family: 'Arial', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-350px);
    font-size: 4vw;
    font-weight: bold;
    color: white;
}

.LookAround h1 span {
    color: #f4c724;
}

.enteringSite{
    height: 100px;
    width:  400px;
    transform: translate(570px, -150px);
    display: flex;
    justify-content:space-around;
    align-items:center;
}


.login{
    height: 50px;
    width: 140px;
    background-color: #29e3f0;
    color: #001f4d;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.login:hover{
    height: 50px;
    width: 155px;
    background-color: #e3b71d; /* Darker Yellow-Orange */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}
.signUp{
    height: 50px;
    width: 140px;
    background-color: #29e3f0; /* Bright Cyan */
    color: #001f4d; /* Deep Navy Blue */
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.signUp:hover{
    height: 50px;
    width: 155px;
    background-color: #25c7d3; /* Darker Cyan */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
} 
