body, html {
    margin: 0;
    height: 100%; 
}

.logo {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
}

img {
    max-width: 300px; 
    height: 300px;   
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1); 
}
